<section class="hero-section" id="section_1">
  <div class="section-overlay"></div>

  <div class="container d-flex justify-content-center align-items-center">
      <div class="row">

          <div class="col-12 mt-auto mb-5 text-center">
              <small>With us</small>

              <h1 class="text-white mb-5">Unveil your beauty</h1>

              <a class="btn custom-btn smoothscroll" href="#section_2">Start shopping</a>
          </div>

          <div class="col-lg-12 col-12 mt-auto d-flex flex-column flex-lg-row text-center">
              <div class="date-wrap">
                  <h5 class="text-white">
                      <i class="custom-icon bi-clock me-2"></i>
                      24/7 Availability
                  </h5>
              </div>

              <div class="location-wrap mx-auto py-3 py-lg-0">
                  <h5 class="text-white">
                      <i class="custom-icon bi-geo-alt me-2"></i>
                      Grand Mall, Douala, Cameroon
                  </h5>
              </div>

              <div class="social-share">
                  <ul class="social-icon d-flex align-items-center justify-content-center">
                      <span class="text-white me-3">Share:</span>

                      <li class="social-icon-item">
                          <a href="#" class="social-icon-link">
                              <span class="bi-facebook"></span>
                          </a>
                      </li>

                      <li class="social-icon-item">
                          <a href="#" class="social-icon-link">
                              <span class="bi-twitter"></span>
                          </a>
                      </li>

                      <li class="social-icon-item">
                          <a href="#" class="social-icon-link">
                              <span class="bi-instagram"></span>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>

  <div class="video-wrap">
      <video autoplay="" loop="" muted="" class="custom-video" poster="">
          <source src="video/bg-video.mp4" type="video/mp4">

          Your browser does not support the video tag.
      </video>
  </div>
</section>


<section class="about-section section-padding" id="section_2">
  <div class="container">
      <div class="row">

          <div class="col-lg-6 col-12 mb-4 mb-lg-0 d-flex align-items-center">
              <div class="services-info">
                  <h2 class="text-white mb-4">About Beauty Store</h2>

                  <p class="text-white">Welcome to our cosmetic marketplace, where you can discover a wide range of beauty products from various brands and sellers. Our marketplace is designed to provide a convenient platform for you to shop for your favorite cosmetics and skincare items online. We are committed to providing you with a seamless shopping experience, and we strive to make it easy for you to find what you need, compare prices, and make informed buying decisions. Whether you're looking for makeup, skincare, haircare, or other beauty products, our marketplace has you covered. Join us today and experience the best of the world of cosmetics, all in one place!</p>

                  <h6 class="text-white mt-4">End-to-end assistance</h6>

                  <p class="text-white">In addition to our wide selection of products, we also offer personalized consultations to help you find the perfect products to suit your individual needs and preferences. Whether you're looking for a new foundation, an anti-aging serum or just a fresh new lipstick shade, our team is here to help you every step of the way.</p>

                  <h6 class="text-white mt-4">Join us</h6>

                  <p class="text-white">So if you're looking for a one-stop-shop for all your beauty needs, look no further than our cosmetic marketplace. We're excited to share our passion for beauty with you and help you feel confident and beautiful every day. Join us today!</p>
              </div>
          </div>

          <div class="col-lg-6 col-12">
              <div class="about-text-wrap">
                  <img src="images/pexels-alexander-suhorucov-6457579.jpg" class="about-image img-fluid">

                  <div class="about-text-info d-flex mt-6">
                      <div class="d-flex">
                          <i class="about-text-icon bi-person"></i>
                      </div>


                      <div class="ms-4">
                          <h3>Feel confident and beautiful every day</h3>

                          <p class="mb-0">Your one-stop-marketplace for all your beauty needs</p>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</section>


<section class="artists-section section-padding">
  <div class="container">
      <div class="row justify-content-center">

          <!-- <div class="col-12 text-center">
              <h2 class="mb-4">Meet Artists</h1>
          </div> -->

          <div class="col-lg-5 col-12">
              <div class="artists-thumb">
                  <div class="artists-image-wrap">
                      <img src="images/no-revisions-ivP3P73x6l8-unsplash.jpg"
                          class="artists-image img-fluid">
                  </div>
              </div>
          </div>

          <div class="col-lg-5 col-12">
              <div class="artists-thumb">
                  <div class="artists-image-wrap">
                      <img src="images/pmv-chamara-dMjkQJs58uo-unsplash.jpg"
                          class="artists-image img-fluid">
                  </div>

              </div>

              <div class="artists-thumb">
                  <img src="images/lumin-BI7EeFaNJ1Q-unsplash.jpg"
                      class="artists-image img-fluid">

                  <!-- <div class="artists-hover">
                      <p>
                          <strong>Name:</strong>
                          Bruno Bros
                      </p>

                      <p>
                          <strong>Birthdate:</strong>
                          October 8, 1985
                      </p>

                      <p>
                          <strong>Music:</strong>
                          Pop
                      </p>

                      <hr>

                      <p class="mb-0">
                          <strong>Youtube Channel:</strong>
                          <a href="#">Bruno Official</a>
                      </p>
                  </div> -->
              </div>
          </div>

      </div>
  </div>
</section>

<section class="contact-section section-padding" id="section_3">
  <div class="container">
      <div class="row">

          <div class="col-lg-8 col-12 mx-auto">
              <h2 class="text-center mb-4">Got something to say?<br> Let's talk</h2>

              <nav class="d-flex justify-content-center">
                  <div class="nav nav-tabs align-items-baseline justify-content-center" id="nav-tab"
                      role="tablist">
                      <button class="nav-link active" id="nav-ContactForm-tab" data-bs-toggle="tab"
                          data-bs-target="#nav-ContactForm" type="button" role="tab"
                          aria-controls="nav-ContactForm" aria-selected="false">
                          <h5>Contact Form</h5>
                      </button>

                      <button class="nav-link" id="nav-ContactMap-tab" data-bs-toggle="tab"
                          data-bs-target="#nav-ContactMap" type="button" role="tab"
                          aria-controls="nav-ContactMap" aria-selected="false">
                          <h5>Google Maps</h5>
                      </button>
                  </div>
              </nav>

              <div class="tab-content shadow-lg mt-5" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-ContactForm" role="tabpanel"
                      aria-labelledby="nav-ContactForm-tab">
                      <form class="custom-form contact-form mb-5 mb-lg-0" action="#" method="post"
                          role="form">
                          <div class="contact-form-body">
                              <div class="row">
                                  <div class="col-lg-6 col-md-6 col-12">
                                      <input type="text" name="contact-name" id="contact-name"
                                          class="form-control" placeholder="Full name" required>
                                  </div>

                                  <div class="col-lg-6 col-md-6 col-12">
                                      <input type="email" name="contact-email" id="contact-email"
                                          pattern="[^ @]*@[^ @]*" class="form-control"
                                          placeholder="Email address" required>
                                  </div>
                              </div>

                              <textarea name="contact-message" rows="3" class="form-control"
                                  id="contact-message" placeholder="Message"></textarea>

                              <div class="col-lg-4 col-md-10 col-8 mx-auto">
                                  <button type="submit" class="form-control">Send message</button>
                              </div>
                          </div>
                      </form>
                  </div>

                  <div class="tab-pane fade" id="nav-ContactMap" role="tabpanel"
                      aria-labelledby="nav-ContactMap-tab">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3979.987071836985!2d9.716834375781676!3d4.02304254715774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x106112a7cb953de1%3A0x298534075b175cfb!2sDouala%20Grand%20Mall!5e0!3m2!1sfr!2scm!4v1686132792387!5m2!1sfr!2scm" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                      <!-- You can easily copy the embed code from Google Maps -> Share -> Embed a map // -->
                  </div>
              </div>
          </div>

      </div>
  </div>
</section>